{% extends 'MainBundle:Master:master.html.twig' %}

{% block content %}
   {%if  res %}
    
    Bienvenidos!!!!!   {{ prueba }} <br>
    {%else %}
    NUEVA PRUEBA    <br>
    {%endif%}
    {{ usuario.name ~ ' ' ~ usuario.doc}} <br>
    {{ res }}
    <br>
    <a href="{{path('page1', {'age': '30'})}}">page1</a><br>
    <a href="{{path('page2', {'name': 'HOLA'})}}">page2</a><br>
    <a href="{{path('page3', {'hour': '17'})}}">page3</a><br>
    <a href="{{path('page4')}}">page4</a><br>
    <a href="{{path('page5')}}">page5</a><br>

{% endblock content%}
